body {
  margin: 0;
  background: black;
  overflow: hidden;
}

.space {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.sun {
  position: absolute;
  width: 80px;
  height: 80px;
  background: yellow;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* ORBITS */
.orbit {
  position: absolute;
  top: 50%;
  left: 50%;
  border: 1px dashed rgba(255,255,255,0.1);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  animation: spin linear infinite;
}

.orbit1 { width: 200px; height: 200px; animation-duration: 10s; }
.orbit2 { width: 300px; height: 300px; animation-duration: 14s; }
.orbit3 { width: 400px; height: 400px; animation-duration: 18s; }
.orbit4 { width: 500px; height: 500px; animation-duration: 22s; }
.orbit5 { width: 600px; height: 600px; animation-duration: 26s; }

.orbit-ufo1 { width: 700px; height: 700px; animation-duration: 12s; }
.orbit-ufo2 { width: 800px; height: 800px; animation-duration: 16s; }

/* PLANETS */
.planet {
  position: absolute;
  top: -15px;
  left: 50%;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.p1 { background: red; }
.p2 { background: blue; }
.p3 { background: green; }
.p4 { background: purple; }
.p5 { background: orange; }

/* UFO */
.ufo {
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 28px;
  background: none;
  border: none;
  cursor: pointer;
}

@keyframes spin {
  from { transform: translate(-50%, -50%) rotate(0deg); }
  to { transform: translate(-50%, -50%) rotate(360deg); }
}
